<footer>
  <div>
    <div class="location-block">
      <h4>Lake Charles</h4>
      <p>2600 Common St.</p>
      <p>Lake Charles, LA 70601</p>
      <p>(337) 244-7589</p>
      <br />
      <h4>Hours</h4>
      <p>Mon-Thu: 8:30am - 6pm</p>
      <p>Fri: 10am - 6pm</p>
      <p>Sat: 10am - 5pm</p>
      <p>Sun: Closed</p>
    </div>
    <div class="location-block">
      <h4>Jennings</h4>
      <p>314 E. Shankland Ave.</p>
      <p>Jennings, LA 70546</p>
      <p>(337) 388-4350</p>
      <br />
      <h4>Hours</h4>
      <p>Mon-Thu: 8:30am - 6pm</p>
      <p>Fri: 10am - 6pm</p>
      <p>Sat: 10am - 5pm</p>
      <p>Sun: Closed</p>
    </div>
  </div>
  <img
    id="footer-logo"
    src="/images/matts-logo.png"
    alt="Matts Appliances logo"
  />
  <p>© 2025 Matt&apos;s Appliances. All rights reserved.</p>
</footer>
