---
title: "Matt's Appliances"
layout: "layout.njk"
---

<section id="hero">
  <video autoplay loop muted playsinline id="bg-video">
    <source src="/images/drone-shot.mp4" type="video/mp4" />
  </video>
  <h1>SWLA&apos;s NEW & USED APPLIANCE SUPERSTORE</h1>
  <h3>COME AND CHECK OUT OUR SCRATCH AND DENT INVENTORY</h3>
  <p>
    We don't want anything to get in the way of the necessities. That's why we
    offer top tier leasing and financing options to get you the appliance you
    need, today!
  </p>
  <a href="/payment-plans">Explore Payment Plans</a>
</section>
<section id="who-are-we">
  <div class="container who-are-we-text-container">
    <h2>Who Are We?</h2>
    <p>
      Matt's Appliances is a family owned and operated business that has been
      serving the Southwest Louisiana area for over 20 years. We pride ourselves
      on our exceptional customer service and our wide selection of new and used
      appliances.
    </p>
    <p>
      Our team of experienced professionals is dedicated to helping you find the
      perfect appliance for your home or business. Whether you're looking for a
      new refrigerator, a used washer and dryer, or a scratch-and-dent stove, we
      have something for everyone.
    </p>
    <p>
      At Matt's Appliances, we understand that buying an appliance can be a big
      investment. That's why we offer competitive pricing and financing options
      to make it easier for you to get the appliances you need.
    </p>
    <p>
      We also offer delivery and installation services to ensure that your new
      appliance is set up and ready to use as soon as possible.
    </p>
    <p>
      Thank you for considering Matt's Appliances for your appliance needs. We
      look forward to serving you!
    </p>
    <p class="home-screen-payments-footer">Want to know more about us?</p>
    <a href="/about" class="learn-more">Learn More</a>
    <br/>
  </div>
  <div class="carousel">
    <div class="carousel-inner" id="carousel-inner"></div>
  </div>
</section>
<br/>
<section id="social-media">
  <h3>Connect with us on Social Media</h3>
  <div class="social-media-icons">
    <a href="https://www.facebook.com/mattsusedappliances" target="_blank">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a
      href="https://www.instagram.com/mattsnewandusedappliances/"
      target="_blank"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a
      href="https://www.yelp.com/biz/matts-appliances-lake-charles-3?osq=matts+appliances&override_cta=Request+quote+%26+availability"
      target="_blank"
    >
      <i class="fa-brands fa-yelp"></i>
    </a>
    <a
      href="https://www.google.com/search?q=matts+appliances&oq=matts+appliances&gs_lcrp=EgZjaHJvbWUqBggAEEUYOzIGCAAQRRg7MgYIARBFGEAyCAgCEEUYJxg7Mg8IAxAuGAoYrwEYxwEYgAQyDwgEEC4YChivARjHARiABDIGCAUQRRg8MgYIBhBFGDwyBggHEEUYPNIBCDMwNjFqMGo0qAIAsAIA&sourceid=chrome&ie=UTF-8"
      target="_blank"
    >
      <i class="fa-brands fa-google"></i>
    </a>
  </div>
</section>
<section id="validation">
  <div class="validation-card">
    <img src="/images/icons/trusted.svg" alt="handshake icon" />
    <div class="validation-card-text">
      <h4>Trusted & Reliable</h4>
      <p>
        Any machine purchased at Matt's is backed by a 30-day warranty! Ask us
        about our Extended Warrant Program as well for 100% satisfaction
        gauranteed.
      </p>
    </div>
  </div>
  <div class="validation-card">
    <img src="/images/icons/leasing.svg" alt="handshake icon" />
    <div class="validation-card-text">
      <h4>Leasing Available</h4>
      <p>
        We offer leasing options to make your appliance purchase easy and
        affordable. Apply for Acima with only $50 down! or get financed through
        Tower Loan to take home your appliance today.
      </p>
    </div>
  </div>
  <div class="validation-card">
    <img src="/images/icons/appliances.svg" alt="handshake icon" />
    <div class="validation-card-text">
      <h4>Trade Your Appliances</h4>
      <p>
        Whether used or broken, we buy/sell/trade refrigerators, freezers, stove
        tops, washers & dryers.
      </p>
    </div>
  </div>
  <div class="validation-card">
    <img src="/images/icons/mechanics.svg" alt="handshake icon" />
    <div class="validation-card-text">
      <h4>Experienced Team</h4>
      <p>
        With technicians that are EPA certified with over 88 years of combined
        experience. We can help you with any appliance issue you may have.
      </p>
    </div>
  </div>
</section>
<section id="appliance-brands">
  <h3>We Carry Top Appliance Brands That You Know & Trust</h3>
  <div class="brands-logos">
    <img src="/images/brands/whirlpool.png" alt="Whirlpool logo" />
    <img src="/images/brands/maytag.svg" alt="Maytag logo" />
    <img src="/images/brands/ge.svg" id="ge-coin" alt="GE logo" />
    <img src="/images/brands/frigidaire.svg" alt="Frigidaire logo" />
    <img src="/images/brands/samsung.svg" alt="Samsung logo" />
    <img src="/images/brands/lg.svg" alt="LG logo" />
    <img src="/images/brands/haier.svg" alt="Haier logo" />
</section>
<section id="image-banner">
  <h2>Make your home, <span class="scripted">Home.</span></h2>
</section>
<section id="payment-plans">
  <div class="payment-plan acima">
    <img src="/images/payment-plans/acima-flyer.jpg" alt="">
    <div>
      <h4>Acima</h4>
      <p>Lease it until you own it or purchase early at a discounted rate! Either way, it's yours to keep. The sooner you do so, the more you'll save. Of course, if you no longer want the appliance, you can return it in good condition at anytime without penalty. Our application is fast and easy to complete, and won't harm your credit. You could get approved for $300 or $5,000 of shopping power! Just by meeting the basic requirements.</p>
    </div>
  </div>
  <div class="payment-plan acima">
    <img src="/images/payment-plans/towerloan-tree-image.jpg" alt="">
    <div>
      <h4>Tower Loan</h4>
      <p>Interest free for 12 months, instant approval, even covers taxes! When Matt's Appliances partnered with Tower Loan, we made it easy for you to have the appliance you need to make sure your home operates as smooth as possible. Tower Loan makes your remodeling project a breeze. With a simple and fast application process, it will only take a few minutes to get you back up and running, getting your life back on track in no time!</p>
    </div>
  </div>
  <p class="home-screen-payments-footer">Have more questions <br/>about our payment plans?</p>
  <a class="learn-more" href="/payment-plans">Learn More</a>
</section>
<section id="gallery">
  <img class="gallery-logo" src="/images/matts-logo.png" alt="">
  <h2>We Have What You Need</h2>
  <div class="gallery" id="image-gallery"></div>
</section>
<section id="lifetime-warranty">
  <h2>All Appliances are eligible for our new</h2>
  <h3>Lifetime Extended Warranty</h3>
  <p>Starting at just $7.99/mo</p>
  <button>Learn More</button>
</section>