---
title: "Payment Plans"
layout: "layout.njk"
---

<section id="payment-plans">
  <div class="payment-plans-hero">
    <h1>Explore our Payment Plan options</h1>
    <p>
      We offer flexible payment plans to make it easier for you to get the
      appliances you need. Whether you're looking for short-term financing or
      long-term leasing options, we have a solution that fits your budget. Our
      team is here to help you find the best payment plan for your situation, so
      you can enjoy your new appliances without any financial stress.
    </p>
  </div>
  <div class="plans">
    <div class="plan acima">
      <h2>Acima Leasing</h2>
      <div class="payment-plan-info">
        <img
          src="/images/payment-plans/acima-flyer.jpg"
          alt="Acima Leasing Flyer"
        />
        <h4>
          With an initial payment of only $50 you can go home with the appliance
          of your dreams!
          <b>No credit needed!</b>
        </h4>
        <p class="need-to-know">Here's what you need to know!</p>
        <ul>
          <li>
            <span class="bolded">90 day</span> 0% interest, with a $50 early
            payout fee
          </li>
          <li>Total cost = appliance + $100</li>
          <li><span class="bolded">No Credit Needed</span></li>
          <li>
            <span class="bolded">Fast Application</span> via mobile or desktop
          </li>
          <li>Approval in minutes</li>
          <li>Payments matched to income frequency</li>
          <li>
            Entire inventory eligible.
            <span class="bolded">including delivery</span>
          </li>
          <li>Taxes handled by Acima</li>
          <li>
            Appliance issues? <span class="bolded">Contact Us.</span> Payment
            issues? <span class="bolded">Contact Acima.</span>
          </li>
          <li>
            <i
              >**Requires a checking account (No Chime or CashApp bank
              accounts)**</i
            >
          </li>
        </ul>
        <p class="plan-info-footer">
          Text code "83127" to <a href="#">22462</a> or
          <a href="#" class="call-button"
            >Call Us&nbsp;<i class="fa-solid fa-phone-flip"></i></a
          >&nbsp; to get approved in minutes!
        </p>
      </div>
    </div>
    <div class="plan tower-loan">
      <h2>Tower Loan</h2>
      <div class="payment-plan-info">
        <img
          src="/images/payment-plans/towerloan-tree-image.jpg"
          alt="Tower Loan"
        />
        <h4>
          We can get you the appliance you need, fast! Partnered with Tower
          Loan, we can help get you set up in minutes!
        </h4>
        <p class="need-to-know">Here's what you need to know</p>
        <ul>
          <li>5 - 10 minute application</li>
          <li class="bolded">Instant Approval</li>
          <li>24 month repayment term</li>
          <li class="bolded">12 month - 0% interest</li>
          <li>Credit check required</li>
          <li>Taxes included in financing</li>
          <li>Photo ID scanned during application</li>
        </ul>
        <p class="plan-info-footer">
          Come in and see what we have to offer or
          <a href="#" class="call-button"
            >Call Now&nbsp;<i class="fa-solid fa-phone-flip"></i
          ></a>
          to learn more about finding a plan that works for you.
        </p>
      </div>
    </div>
  </div>
  <div class="plans-banner">
    <h2>We've got you covered!</h2>
  </div>
</section>
